body {
    margin:0;
    font-family:arial, helvetica, sans-serif;
}

#topbar {
    background-color:#720413;
    width:100%;
    height: 40px;
    color:white;
    position:relative;
    z-index: 2;
    opacity: 0.94;
}

.fixedwidth {
    width:1050px;
    margin:0 auto;  /* centers a div within another div */

}

#logodiv {
    padding-top:7px;
    height: 32px;
    float: left;
    border-right: 1px solid #910000;
    padding-right: 10px;
}

#signindiv {
    height: 40px;
    font-size:0.9em;
    padding:0 80px 0 10px;
    border-right: 1px solid #910000;
    float:left;

}

#signindiv img {
    position:relative;
    top:5px;
}

#topmenudiv {
    float:left;
}

#topmenudiv ul {
    margin:0;
    padding: 0;

}

#topmenudiv li {
    list-style: none;
    font-size:0.9em;
    border-right: 1px solid #910000;
    padding: 10px 20px 12px 20px;
    float:left;
}
#searchdiv {
    float: left;
    padding: 10px 0 0 10px;
}

#searchdiv input {
    height: 20px;
    border:none;
    padding-left:10px;
    font-size:0.9em;
    background: white url("../img/magnifying-glass.png") no-repeat right center;
    position:relative;
    z-index: 3;
}

.break {
    clear:both;
}

#newsbar {
    width:100%;
    height:90px;
    color:#720413;
}

#newsbar p {
    margin:0;
    padding: 10px 0 0;
}


#newsheader {
    font-size:3em;
    padding-top:15px;
    float:left;
}

#newsanimation {
    font-size:3em;
    padding-top:15px;
    position: relative;
    -webkit-animation-name: newsanimate; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: newsanimate;
    animation-duration: 1s;
    float:left;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes newsanimate {
    from {left:-250px; top:0;}
    to   {left:0; top:0;}
}

/* Standard syntax */
@keyframes newsanimate {
    from {left:-250px; top:0;}
    to   {left:0; top:0;}
}


#ukanimation {
    font-size:1.9em;
    padding-left:10px;
    padding-top:30px;
    position: relative;
    -webkit-animation-name: ukanimate; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: ukanimate;
    animation-duration: 1s;
    float:left;
    z-index:1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ukanimate {
    from {left:0; top:-200px;}
    to   {left:0; top:0;}
}

/* Standard syntax */
@keyframes ukanimate {
    from {left:0; top:-200px;}
    to   {left:0; top:0;}
}


#rss {
    float:right;
    padding-top:40px;
}

#rss img {
    padding-left:5px;
    height:17px;
}

#globediv {
    float:right;
    position:absolute;
    z-index:0;
    left:250px;
    top:20px;
    -webkit-animation-name: globeanimate;
    -webkit-animation-duration: 2s;
    animation-name: globeanimate;
    animation-duration: 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes globeanimate {
    from {left:1300px; top:20px;}
    to   {left:250px; top:20px;}
}

/* Standard syntax */
@keyframes globeanimate {
    from {left:1300px; top:20px;}
    to   {left:250px; top:20px;}
}

#topicmenu {
    color:white;
    opacity:0.8;
    position:relative;
    z-index: 3;
}

#topicmenu ul {
    padding: 5px 0 0 5px;
    margin: 0;
    background-color:#3E0C0D;
    height:20px;
}

#topicmenu li {
    background-color:transparent;
    font-size:0.8em;
    list-style:none;
    border-right: 1px solid #910000;
    float:left;
    padding: 0 6px 0 6px;
}


.selected {
    background-color:#EDEDED;
    color:#666666;
    height:19px;
    position:relative;
    top:-4px;
    padding-top: 5px !important;
}

#content {
    width:100%;
    font-size:0.8em;
    color:#1e1c1c;
}

.date {
    font-weight:bold
}

h1 {
    color:#1F4F82;
    font-size:2.5em;
}

h2 {
    color:#505050;
    margin:10px 0 10px 10px;
    font-size:1.9em;
}

.headlineimg {
    float:left;
}

.newsitem {
    position:relative;
    left:10px;
    top:-15px;
    width:280px;
    float:left;
    font-size:1.1em;
}

a {
    color:#1F4F82;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.video {
    background: url("../img/videobutton.png") no-repeat left center;
    margin:0;
    padding:5px 0 0 25px;
}

.audio {
    background: url("../img/audio.jpg") no-repeat left center;
    margin:0;
    padding:5px 0 0 25px;
}

.links {
    line-height:1.9em;
    font-size:0.9em;
}

#watchlisten {
    background-color:#b5b1b1;
    float:right;
    width:360px;
}

.leftarrow {
    float:left;
    border-right:1px solid white;
}

.rightarrow {
    float:left;
}

.wlblock {
    float:left;
    background-color:#D1700E;
    width:161px;
    border-right:1px solid white;
}

.wlblock p {
    margin:18px 10px 16px 10px;
}

.wlblock a {
    color:white;
}

#watchlisten ul {
    margin:0;
    padding:0 10px 10px 10px;

}

#watchlisten li {
    list-style:none;
    background: url("../img/live.png") no-repeat left center;
    padding: 15px 0 10px 55px;
    font-size:1.1em;
}

.bb {
    border-bottom:1px solid #DDDDDD;
}